@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body{
    background-image: radial-gradient( circle farthest-corner at 50% 52.5%,  rgba(14,53,92,1) 0%, rgba(16,14,72,1) 90% );
    color: white;
    overflow: hidden;
    font-family: "Zen Dots",sans-serif;
    /*overflow-y: auto; */
}
.background{
   
    position:absolute;
    display: block;
    top:0;
    left:0;
    z-index: 0;
}
.main {
  margin-right: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
/*
navbar
*/
.links-container {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 8%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-image:radial-gradient( circle farthest-corner at 50% 52.5%,  rgba(14,53,92,1) 0%, rgba(16,14,72,.05) 90% ); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(15px);
}
.links-container a {
  padding: 0;
  text-decoration: none;
  font-size: 25px;
  
  display: block;
}

.navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1.5rem;
    z-index: 1000;
    
}

.nav-links{
   display: flex;
   gap: 2rem;   
  padding:.5rem;
  flex-direction: column;
  justify-content: center;

}
li{
    list-style: none;   
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    color:white;
}
.nav-items a{
    color:white;  
    
}

.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1rem;
}

/*
home
*/

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
.home-container h1{
  font-size: 75px;  
}

section{
  display: none;
}

section.active{
  display: block;
}








